In [7]:
#Nested Lambda 
o=(lambda a: lambda b,c:(a+b) * c) (5)(3, 2)
#here a is universal it can access inner lambda values also. and b,c is inner values
print(o)
# 12(5)
#11(3,2).


#Single Lambda
 = (lambda a, b, c: (a + b) * c)(5, 3, 2)
print(o)

16
16

In [16]:
'''a->Universal,b->Global,c&d -> Local
(a+b) * (c+d)'''
o = (lambda a: lambda b: lambda c,d:(a+b) * (c+d)) (2)(3)(4, 5)
print(o)

45

In [12]:

# Step 1: Define a lambda that returns another lambda
expr = lambda a: lambda b, c: (a + b) * c

# Step 2: Apply outer lambda to 2 → gives you an inner lambda that still takes b and c
inner = expr(2)

# Step 3: Now apply inner lambda with arguments 1 and 3
value = inner(1, 3)

# Print the result
print(value)  # Output: 9

9

In [24]:
#Removing White spaces in string
a = " 1 2 3 a s g "
a=a.strip().replace(" ", "")
#strip() removes first and last spaces 
#or a = a.replace(" ", "")
print(a)

123asg

In [26]:
num = int(input("Enter a : "))   # Example input: 5
n = int(input("Enter x : "))     # Example input: 3
oper = lambda a: lambda x: (x + a) ** 2
numsq = oper(num)  # oper(5) returns: lambda x: (x + 5)**2
print(numsq(n))    # numsq(3) → (3 + 5)**2 = 64

Enter a :  5
Enter x :  3

64

In [30]:
#(a-b)/(c-d) expression with different modulations
try:
 o = (lambda a: lambda b: lambda c,d: (a-b)/(c-d)) (10) (4) (8,8)
except ZeroDivisionError:
  print("Division by Zero error!!!")
except TypeError:
  print("Invalid Datatype!!!")

Division by Zero error!!!

In [32]:
'''simple nested lambda string combining with seperator operation for n attributes'''
o= (lambda a: lambda b: lambda c,d:a+'-'+b+'-'+c+'-'+d) ('Hi') ("Students") ("Good", "Morning")
print(o)

Hi-Students-Good-Morning

In [48]:
'''given atrributes a, b, c, d are hi,!, students,!!!
write a nested lambda to concatinate the abcd, by converting a and c to uppercase ouput: HI!STUDENTS!!!'''

f = (lambda a: lambda b: lambda c: lambda d: a.upper() + b + c.upper() + d)("hi")("!")("students")("!!!")
print(f)


f = lambda a: lambda b: lambda c: lambda d: a.upper() + b + c.upper() + d
result = f("hi")("!")("students")("!!!")
print(result)


f = lambda a: lambda b: lambda c: lambda d: a.upper().replace(" ", "") + b.upper() + c.upper().replace(" ", "") + d
result = f("h  i")("!")("  students")("!!!")
print(result)

HI!STUDENTS!!!
HI!STUDENTS!!!
HI!STUDENTS!!!

In [70]:
''' given atrributes a, b, c, d are hi, hello, students, teachers!!!.
write a nested lambda to concatinate the abcd, by Treversing with separater.'''

f = (lambda a: lambda b: lambda c: lambda d: a[::-1]+" "+ b [::-1]+ " "+c[::-1]+" " + d[::-1])("hi")("hello")("students")("teachers")
print(f)

f = (lambda a: lambda b: lambda c,d: a[::-1]+" "+ b [::-1]+ " "+c[::-1]+" " + d[::-1])("hi")("hello")("students","teachers")
print(f)

f = (lambda a: lambda b: lambda c, d: [a[::-1], b[::-1], c[::-1], d[::-1]])("hi")("hello")("students", "teachers")
print(f)


f = (lambda a: lambda b: lambda c,d: ' '.join([a[::-1]+" "+ b [::-1]+ " "+c[::-1]+" " + d[::-1]]))("hi")("hello")("students","teachers")
print(f)

ih olleh stneduts srehcaet
ih olleh stneduts srehcaet
['ih', 'olleh', 'stneduts', 'srehcaet']
ih olleh stneduts srehcaet

In [80]:
num=[4,6,3,8]
#if element of num greater than 5 then mutltiply it 2 and less than 5 then multiply with 3
#output=[12,12,9,16]
numbers = lambda x: lambda a: a * 2 if a > x else a * 3
above_5 = numbers(5)
num = [4, 6, 3, 8]
o = list(map(above_5, num))
print(o)


result = list(map(lambda x: x * 2 if x > 5 else x * 3, num))
print(result)


num = [4, 6, 3, 8]
f = lambda: lambda x: x * 2 if x > 5 else x * 3
result = list(map(f(), num))
print(result)

[12, 12, 9, 16]
[12, 12, 9, 16]
[12, 12, 9, 16]