In [3]:
import pandas as pd

In [45]:
import pandas as pd
n= int(input("Enter number of profiles : "))
names=[]
ages=[]
branches=[]
for i in range(n):
    print(f"----Enter {i+1}----")
    name=input("Enter Name : ")
    age=input("Enter Age : ")
    branch=input("Enter the Branch : ")
    ages.append(age)
    branches.append(branch)
    names.append(name)
data={'Name':names,'Age':ages,'Branch':branches}
df=pd.DataFrame(data)
print("\nData Frames Created....")
print(df)

Enter number of profiles :  2

----Enter 1----

Enter Name :  sai
Enter Age :  10
Enter the Branch :  cse

----Enter 2----

Enter Name :  gana
Enter Age :  20
Enter the Branch :  csm

Data Frames Created....
   Name Age Branch
0   sai  10    cse
1  gana  20    csm

In [41]:
data = {
    'Name': ['Mark', 'Steve', 'Jenny'],
    'Age': [22, 21, 22],
    'Branch': ['EEE', 'CSE', 'Mech']
}

dframe = pd.DataFrame(data)

print(dframe)               # Print whole DataFrame
print("\n",dframe['Name'])       # Print 'Name' column
print("\n",dframe[['Name', 'Branch']])  # Print 'Name' and 'Branch' columns

# It looks like you wanted to print a specific cell, maybe dframe.iloc[2]
print("\n",dframe.iloc[2])       # Print row at index 2

Stipend = [10000, 11000, 9000]
dframe.insert(1, 'Salary', Stipend)  # Insert new column 'Salary' at position 1
print("\n",dframe)

dframe.at[2, 'Age'] = 25    # Update Age of index 2 to 25
print("\n",dframe)

    Name  Age Branch
0   Mark   22    EEE
1  Steve   21    CSE
2  Jenny   22   Mech

 0     Mark
1    Steve
2    Jenny
Name: Name, dtype: object

     Name Branch
0   Mark    EEE
1  Steve    CSE
2  Jenny   Mech

 Name      Jenny
Age          22
Branch     Mech
Name: 2, dtype: object

     Name  Salary  Age Branch
0   Mark   10000   22    EEE
1  Steve   11000   21    CSE
2  Jenny    9000   22   Mech

     Name  Salary  Age Branch
0   Mark   10000   22    EEE
1  Steve   11000   21    CSE
2  Jenny    9000   25   Mech

In [56]:
import pandas as pd
import numpy as np

data = {
    'Patient_ID': ['P001', 'P002', 'P003', 'P004', 'P005', 'P006'],
    'Name': ['Vijay', 'Ajay', 'Kiran', 'Amith', 'Suresh', None],
    'Age': [34, 30, None, 60, 25, 50],
    'Department': ['Corona', 'Cancer', 'Neurology', 'Cardiology', 'Cancer', 'ICU'],
    'Admission_Date': [
        '2025-01-15', '2025-02-10', '2025-03-03', 
        '2025-01-22', '2025-04-06', '2025-05-30'
    ],
    'Bill': [7000.80, 76000.00, 10000.00, 200000.00, 80000.0, None]
}

df = pd.DataFrame(data)
print(df)

df.to_csv('hospital_data.csv', index=False)

print("Created csv file\nCSV file saved as 'hospital_data.csv'")

  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Corona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006    None  50.0         ICU     2025-05-30       NaN
Created csv file
CSV file saved as 'hospital_data.csv'

In [70]:
try:
    df = pd.read_csv('hospital_data.csv')
    print("\nHospital DataFrame : ")
    print(df)
    # Display basic info
    print("\nDataFrame INFO : ")
    print(df.info())
    print("\nSummary Statistics : ")
    print(df.describe())
except FileNotFoundError:
    print("Error: The file 'hospital_data.csv' was not found")

Hospital DataFrame :
  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Corona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006     NaN  50.0         ICU     2025-05-30       NaN

DataFrame INFO :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      6 non-null      object
 1   Name            5 non-null      object
 2   Age             5 non-null      float64
 3   Department      6 non-null      object
 4   Admission_Date  6 non-null      object
 5   Bill            5 non-null      float64
dtypes: float64(2), object(4)
memory usage: 420.0+ bytes
None

Summary Statistics :
             Age           Bill
count   5.000000       5.000000
mean   39.800000   74600.160000
std    14.669697   78260.928695
min    25.000000    7000.800000
25%    30.000000   10000.000000
50%    34.000000   76000.000000
75%    50.000000   80000.000000
max    60.000000  200000.000000

In [84]:
df = pd.read_csv('hospital_data.csv')
print("\nOriginal hospital DataFrame:")
print(df)
# Check missing values
print("\nMissing Values:")
print(df.isna())
# Create a copy to fill missing values
df_filled = df.copy()
# Fill missing 'Name' values with 'Unknown'
df_filled['Name'] = df_filled['Name'].fillna('Unknown')
df_filled['Age'] = df_filled['Age'].fillna(df_filled['Age'].mean())
df_filled['Bill'] = df_filled['Bill'].fillna(0)
print("\nDataFrame After Filling By Default : ")
print(df_filled)

#df.groupby('column_name')[ 'another_column' ].aggregation_function()
df.groupby('Department')['Bill'].sum()

Original hospital DataFrame:
  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Corona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006     NaN  50.0         ICU     2025-05-30       NaN

Missing Values:
   Patient_ID   Name    Age  Department  Admission_Date   Bill
0       False  False  False       False           False  False
1       False  False  False       False           False  False
2       False  False   True       False           False  False
3       False  False  False       False           False  False
4       False  False  False       False           False  False
5       False   True  False       False           False   True

DataFrame After Filling By Default :
  Patient_ID     Name   Age  Department Admission_Date      Bill
0       P001    Vijay  34.0      Corona     2025-01-15    7000.8
1       P002     Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003    Kiran  39.8   Neurology     2025-03-03   10000.0
3       P004    Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005   Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006  Unknown  50.0         ICU     2025-05-30       0.0

Department
Cancer        156000.0
Cardiology    200000.0
Corona          7000.8
ICU                0.0
Neurology      10000.0
Name: Bill, dtype: float64