In [ ]:
#Exception Handling

In [13]:
#ZeroDivisionError

num=int(input("Enter the Numerator : "))
deno=int(input("Enter the denominator : "))
try:
    quo=num/deno
    print("Quotient : ",quo)
except ZeroDivisionError :
    print("Denominator Can't be Zero")

Enter the Numerator :  5
Enter the denominator :  0

Denominator Can't be Zero

In [31]:
try:
    num=int(input("Enter Number : "))
    print(num*4)
except (KeyboardInterrupt,ValueError,TypeError):
 print("Number should be entered...Program Trminated!!!")
except ValueError:
 print("Please check before you enter the data type")
print("Bye")

Enter Number :   deno=int(input("Enter the denominator : "))

Number should be entered...Program Trminated!!!
Bye

In [35]:
#raise [exception [, args[,traceback]]]
try:
    num=11
    print(num)
    raise ValueError

except:
    print("Exception Occured")
    #Traceback (most recent calls)

11
Exception Occured

In [57]:
try:
    print("Raising Exception")
    raise ValueError
finally:
    print("Performing Clean Up in finally")

Raising Exception
Performing Clean Up in finally

ValueError:

In [59]:
try:
    print("Raising Exception")
    raise ValueError
except:
    print("Exception cought")
finally:
    print("Performing Clean Up in finally")

Raising Exception
Exception cought
Performing Clean Up in finally

In [63]:
c=int(input("Enter temperature in celsius : "))
f=(c*9/5)+32   #Converting to Fornheat
assert(f<=32),"IT's Cold"
print("Fahrenheit : ",f)

Enter temperature in celsius :  32

AssertionError: IT's Cold

In [76]:
'''write a program which infinitely prints natural numbers.
Raise a StopIteration Exception after displaying first 20 numbers to ex the program '''
def display(n):
    while True:
        try:
            n+=1
            if n==21:
                raise StopIteration
        except StopIteration:
            break
        else:
            print(n,end=" " )
i=0
display(i)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [95]:
import random
class RandomError(Exception):
    pass
try:
    num=random.random()
    if num<0.1:
        raise RandomError
except RandomError as e:
    print("RandomError Generated")
else:
    print("%.4f"%num)

0.9839

In [109]:
import calendar
year = int(input("Enter a year Number : "))
print(calendar.calendar(year))

Enter a year Number :  2004

                                  2004

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1       1  2  3  4  5  6  7
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       8  9 10 11 12 13 14
12 13 14 15 16 17 18       9 10 11 12 13 14 15      15 16 17 18 19 20 21
19 20 21 22 23 24 25      16 17 18 19 20 21 22      22 23 24 25 26 27 28
26 27 28 29 30 31         23 24 25 26 27 28 29      29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [109]:
import calendar
year = int(input("Enter a year Number : "))
print(calendar.calendar(year))

Enter a year Number :  2004

                                  2004

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1       1  2  3  4  5  6  7
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       8  9 10 11 12 13 14
12 13 14 15 16 17 18       9 10 11 12 13 14 15      15 16 17 18 19 20 21
19 20 21 22 23 24 25      16 17 18 19 20 21 22      22 23 24 25 26 27 28
26 27 28 29 30 31         23 24 25 26 27 28 29      29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [119]:
from calendar import *
year = int(input("Enter a year Number : "))
Month=int(input("Enter the Months : "))
str=month(year,Month)
print(str)

Enter a year Number :  2004
Enter the Months :  10

    October 2004
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [123]:
import calendar as c

year = int(input("Enter a year Number: "))
month = int(input("Enter the month (1-12): "))

# Get the month's calendar as a string
month_str = c.month(year, month)

print(month_str)

Enter a year Number:  2004
Enter the month (1-12):  10

    October 2004
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [127]:
#Leap YEAR using Calendar
from calendar import *
year = int(input("Enter a year Number : "))
if isleap(year):
    print(year," is a leap year")
else:
    print(year, " is not a leap year")

Enter a year Number :  2024

2024  is a leap year

In [140]:
'''program to print the next 10 day dated continuosly '''
from datetime import *
d=date.today()
print(d)
#d=date(1966,6,29)
for x in range (1,10):
    nextdate=d+timedelta(days=x)
    print(nextdate)




import time
epoch =time.time()
print("\n",epoch)

2025-07-04
2025-07-05
2025-07-06
2025-07-07
2025-07-08
2025-07-09
2025-07-10
2025-07-11
2025-07-12
2025-07-13

 1751610919.296074

In [ ]:
#Sys

In [144]:
import sys
if len(sys.argv)<2 :
    print("Usage : Hello hi.py <name>")
else:
    name=sys.argv[1]
    print(f"Student, {name}!...")

Student, -f!...